*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* banner styles */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
   background-position: center;
    background-repeat: no-repeat;
}

.banner-content {}

.banner h1 {
    color: white;
    font-size: 72px;
    width: 632px;
    height: 190px;
    text-align: center;
    margin-top: 0px;

}

.banner h4 {
    color: white;
    font-size: 32px;
    width: 632px;
    /* height: 190px; */
    text-align: center;

}
/* Deals sectiom */
.deals-section{
    width: 803px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.discounted{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin: 48px;
}
.offer{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}
.discounted1{
    font-size: 48px;
    color: #070211;
    margin-bottom: 48px;
}
deal-image{
    width: 803px;
    height: 500px;
    margin-bottom: 120px;
}